doctype html
html(lang='en')
	head
		title Landing Page
	body
		h1 "The future home of something awesome!"
		p Viral you probably haven't heard of them try-hard ennui, pug Thundercats selfies. Normcore cray health goth, umami ennui beard art party skateboard squid distillery.